/*------------------------------------------------------------------------slider*/
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    width: 100%;
}
/* 画像が横に続くようにマージンを調整 */
.carousel-item img {
    margin-right: -10px; /* 画像のマージンを調整 */
}
/* 次のスライドの画像が表示される際のアニメーション */
.carousel-item-next {
    transform: translateX(100%);
}
/* 前のスライドの画像が表示される際のアニメーション */
.carousel-item-prev {
    transform: translateX(-100%);
}
/* 前のスライドと次のスライドの画像が表示される際のアニメーション */
.carousel-item-prev, .carousel-item-next {
    position: absolute;
    top: 0;
    width: 100%;
}
/*------------------------------------------------------------------------home*/
.header {
  margin-top:40px; /* fixed-bottom-menu の高さ + 追加の余白 */;
}
.card-mini {
  width: 120px;
  height: 170px;
  flex: 0 0 auto;
  margin-right: 10px;
}

.card-img-mini {
  object-fit: cover;
  height: 75%;
}
.contents_box{
  overflow: scroll;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}
  /*Google Chrome、Safariへの対応*/
  .contents_box::-webkit-scrollbar{
  display: none;
}
.card-text {
  margin: 0 !important;
}

.fixed-bottom-menu {
  bottom: 0;
  background-color: #fff; /* メニューの背景色を指定 */
  border-top: 1px solid #ddd; /* 上部にボーダーを追加 */
}

/* ナビメニューのスタイルが必要な場合に追加 */
.fixed-bottom-menu nav {
  /* ここにナビメニューのスタイルを追加 */
}
.nav-pills .nav-link {
  color: #000 !important; /* 任意の文字色に変更 */
}
.header {
  margin-top:50px; /* fixed-bottom-menu の高さ + 追加の余白 */;
}
.footer {
  margin-bottom:50px; /* fixed-bottom-menu の高さ + 追加の余白 */;
}

.user-home {
  background-color: #fff; /* メニューの背景色を指定 */
  border-top: 1px solid #ddd; /* 上部にボーダーを追加 */
  z-index: 1000; /* 他の要素よりも手前に表示 */
  margin-top: 70px; /* 上部の余白を追加 */
  margin-bottom: 50px; /* 下部部の余白を追加 */
}

.table-center td, .table-center th {
  vertical-align: middle;
}
.icon-20 {
  width: 20px;
  height: 20px;
  display: block; /* 画像をブロックレベル要素に変更 */
  margin: 0 auto; /* 左右のマージンを自動で中央寄せ */
}
.icon-top {
  width: 35px;
  height: 35px;
  display: block; /* 画像をブロックレベル要素に変更 */
  margin: 0 auto; /* 左右のマージンを自動で中央寄せ */
}
.detail-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-txt {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-title {
}

.list-txt {
}

/*通知エリア*/
#notification {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}